body {
    background-image: linear-gradient(90deg, purple, rgb(255, 255, 255));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    width: 98vw;
    height: 97vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

form {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid 1px;
    padding: 20px;
    border-radius: 0.7rem;
    padding-right: 10%;
    align-items: center;
    justify-content: center;

}

/* button:hover {
    cursor: pointer;
    transition: .3s;
    transform: scale(1.2) translateY(-5px);
    border-radius: 0.2rem;
    border: none;
    background-color: pink;
    color: black;
    -webkit-box-shadow: 0 3px 10px 0 rgb(0, 0, 0);
    text-shadow: 0px 0px 5px black;
}

button {
    border-radius: 0.2rem;
    border: none;
    box-shadow: 3px 3px 8px;
    margin-left: 47%;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
} */
button {
    border-radius: 0.2rem;
    border: none;
    outline: none;
    border-radius: 0.2rem;
    border: none;
    box-shadow: 3px 3px 8px;
    margin-left: 380px;
}



#caixa {
    margin-left: 15px;
}

button {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    text-shadow: 0px 0px 5px rgb(255, 0, 128);
}

button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

button:active {
    color: pink;
}

button:active:after {
    background: transparent;
}

button:hover:before {
    opacity: 1;
}

button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: pink;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

input {
    border-radius: 0.2rem;
    border: none;
    outline: none;
}

label {
    font-weight: bold;
}

input:hover {
    transition: .3s;
    transform: scale(1.2);
}

h1 {
    color: pink;
    text-shadow: 0 0 20px black;
}
#colunas{
    display: inline-block;
    padding: 50px;
    justify-content: center;
    align-items: center;
    
}
#colunass{
    display: inline-block;
    padding: 50px;
}


@media only screen and (max-width: 1090px) {
    div, button{
        margin-left: 50vw;
        margin-right: 50vw;
        align-items: center;
        justify-content: center;
    }
}